* {
 marign:0px;
}
#cont{
padding-left: 10px;
margin-left: 0px;
}

#header-nav {
background-color: gray;
  border-radius: 0;
  border: 3px solid black;
}

#bgcolor {
background-color: gray;
padding-top:5px;
padding-bottom:5px;


}

.row {
  height:1000px;
  
 margin-left:10px;
margin-right:10px;
   } 

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.menu_items {
background-color:white;
border-bottom: 2px  black solid;
}


 
#dv1 {

background-color:green;
}

.container-fluid {
border:0px;
margin:0px;
padding:0px;
} 
#clr {
background-color:gray;
}
